* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/* Header */

header{
    width: 100%;
    height: 600px;
    background-image: url(../img/portada.jpg) ; 
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

.galeria1{
    font-weight: bolder;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

 
 




nav{
    text-align: center;
    padding:30px 50px 0 0;
}

header nav a{
    margin: 5px;
}


header .textos-header{
    margin-top:60px;
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 49.5px;
    color:rgb(17, 17, 16);
    font-weight: bolder;
}




#tabla2{
    margin-bottom: 0;
    
}















/* footer */

footer{
    background: -webkit-radial-gradient(#0f0, #06f);
    background: -moz-radial-gradient(#0f0, #06f);
    border-top: 2px solid rgb(243, 19, 19);
    padding: 30px  20px ;
    overflow: hidden;

}


.bodyacerca{
   
    background:linear-gradient(30deg, crimson,sienna, royalblue, rgb(238, 161, 18), rgb(150, 2, 150));
    background-repeat: no-repeat center top;
    background-size: cover;
    width: 100%;
    background-position: 0px ;
    overflow-x: hidden; 
    
}





.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 3px solid rgb(189, 15, 15);
}

.content-foo{
    text-align: center;
    
}

.content-foo h4{
    color:black;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

.content-foo p{
    color:black;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: red;
    background-color: white;
    font-weight :bolder;
}




